<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">	
		<title>FairTraveller</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.0pr3/build/cssgrids-responsive/cssgrids-responsive-min.css">
		<link rel="stylesheet" type="text/css" href="../public/css/fairtraveler.css">
		<link rel="stylesheet" type="text/css" href="../public/css/provider.css">
		<link rel="stylesheet" type="text/css" href="../public/css/grid.css">
		<!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
		<script src="http://yui.yahooapis.com/3.8.0/build/yui/yui-min.js"></script>
	</head>
	<body class="y-g yui3-skin-sam">

    <div class="y-u-1">
    	<header>	
			<div class="left">
				
			</div>
			<div class="right">
				<div id="login">
					<a href="" target="_blank"><img src="../public/image/login.jpg"/></a> / 
					<a href="" target="_blank"><img src="../public/image/signup.jpg" /></a>
					<a href="" target="_blank"><img src="../public/image/fb.jpg"/></a>
					<a href="" target="_blank"><img src="../public/image/t.jpg"/></a>
				</div>
                <a href="./index.html">
                <img id="logo"  src="../public/image/logo.png"/>
                </a>
			</div>
		</header>
		
		<div class="hotelProfile">
			<div class="y-g-responsive">
			<div class="y-u-1-2">
            <div class="item">
				<h1>Green Retreat</h1>
				<p id="membership">member since 2013</p>
				<div class="ecoBadges">
					<img src="../public/image/water.png" title="water"/>
					<img src="../public/image/energy.png" title="energy"/>
					<img src="../public/image/noise.png" title="noise"/>
				</div>
			</div></div>

			<div class="y-u-1-2">
            <div id="hotelPhotos" class="item">
				<img src="../public/image/hotel.jpg"></img>
            </div></div>
			</div>

			<div class="y-g-responsive"> 
			<div class="y-u-1-2">
            <div id="providerDescription" class="item">
				<p class="title">Description</p>
				<p>The green retreat let you relax, in the middle of the nature. Enjoy the great forest environment, the pure source water and the flower perfumed air.</p> 
				<!-- start slipsum code -->
				<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>
				<p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? </p>

				<!-- please do not remove this line -->

				<div style="display:none;">
                <a href="http://slipsum.com">lorem ipsum</a></div>

				<!-- end slipsum code -->

            </div></div>

			<div class="y-u-1-2">
            <div id="reviews" class="item">
				<p class="title">Reviews</p>
                 <div class="review">
                    <img class="avatar" src="../public/image/user.gif"></img> 
                    <p class="reviewText">How to they warm all the pools?! What an energy waste! All while sleeping in very comfortable on-land rooms at night. Hotel itself is very pretty, on a fairly busy beach, and service/food was impeccable.</p>                    
                 </div>
                 <div class="review">
                    <img class="avatar" src="../public/image/user.gif"></img> 
                    <p class="reviewText">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p>
                 </div>
                 <div class="review">
                    <img class="avatar" src="../public/image/user.gif"></img> 
                    <p class="reviewText">Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
                 </div>
            </div></div>
			</div>
		</div>

	<footer>- Marketing and web by Fair Traveler -</footer>
	</div>

    <!--script src="../public/javascript/badges.js"></script-->
  </body>
</html>
