<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">	
		<title>FairTraveller</title>
	
		<link rel="stylesheet" type="text/css" href="../public/css/fairtraveler.css">
		<link rel="stylesheet" type="text/css" href="../public/css/provider.css">
		<link rel="stylesheet" type="text/css" href="../public/css/grid.css">
		<!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
	</head>
	<body class="y-g yui3-skin-sam">

    <div class="y-u-1">
    	<header>	
			<div class="left">
				
			</div>
			<div class="right">
				<div id="login">
					<a href="" target="_blank"><img src="../public/image/login.jpg"/></a> / 
					<a href="" target="_blank"><img src="../public/image/signup.jpg" /></a>
					<a href="" target="_blank"><img src="../public/image/fb.jpg"/></a>
					<a href="" target="_blank"><img src="../public/image/t.jpg"/></a>
				</div>
                <a href="./index.html">
                <img id="logo"  src="../public/image/logo.png"/>
                </a>
			</div>
		</header>
		
		<div class="hotelProfile">
			<div class="y-g-responsive">
			<div class="y-u-1-2">
            <div class="item">
				<h1>Finch Bay Eco Hotel</h1>
				<p id="membership">member since 2013</p>
				<div class="ecoBadges">
                    <img src="../public/image/energy.png" title="energy"/>
				</div>
                <button class="btn" type="submit">check availability</button>
			</div></div>

			<div class="y-u-1-2">
            <div id="hotelPhotos" class="item">
				<img src="../public/image/finch-bay.jpg"></img>
            </div></div>
			</div>

			<div class="y-g-responsive"> 
			<div class="y-u-1-2">
            <div id="providerDescription" class="item">
				<p class="title">Description</p>
                <p>Only 10 metres from Alemanes Beach, Hotel Finch Bay offers rooms with free Wi-Fi and air conditioning in Puerto Ayora, in Galapagos Island. It features a swimming pool and a restaurant, as well as a pier with yachts to visit the islands. The city centre is 3 km away.
                    Decorated with tiled and stylish furnishing, rooms at Finch Bay are very bright. All of them have private bathrooms, and some boast private balconies with sea views and hammocks.
                    Breakfast with bacon, sausages, pancakes, fresh fruits and eggs is served daily. Regional and Asian dishes can be ordered at the property’s restaurant, as well as original chef-designed dishes. Drinks and snacks from the bar can be enjoyed by the pool.</p>
                <p>Guests can sunbathe on the beach or sail away on one of the private yachts moored in the pier. Snorkeling and kayaking can be practiced at a fee, and bikes can be rented to explore the island.
                Hotel Finch Bay is 1 km from the public harbor and 45 km from Baltra International Airport.</p>
                <!-- start slipsum code -->

				<!-- please do not remove this line -->

				<div style="display:none;">
                <a href="http://slipsum.com">lorem ipsum</a></div>

				<!-- end slipsum code -->

            </div></div>

			<div class="y-u-1-2">
            <div id="reviews" class="item">
				<p class="title">Reviews</p>
                <div class="review">
                    <img class="avatar" src="../public/image/user.gif">
                    <p class="reviewText">Finch Bay gives those of us with seasickness a way to see Santa Cruz, and three additional islands, all while sleeping in very comfortable on-land rooms at night. Hotel itself is very pretty, on a fairly busy beach, and service/food was impeccable.</p>                    
                </div>
                <div class="review">
                    <img class="avatar" src="../public/image/user.gif"> 
                    <p class="reviewText">The pool and pool bar are the highlight of this hotel. They are beautiful, tranquil and close to nature. The food and service at this hotel is also excellent, staff were friendly and breakfast delicious. The only problem for us was the rooms, they are pretty basic - not as luxurious as I would expect for the price.</p>
                </div>
                <div class="review">
                    <img class="avatar" src="../public/image/user.gif">
                    <p class="reviewText">If the Galapagos Islands are a Natural Wonderland, considered by many (and me too) a true Paradise on earth; the Finch Bay Eco-Hotel is a Paradise within Paradise....!!!</p>
                </div>
                <div class="review">
                    <img class="avatar" src="../public/image/user.gif">
                    <p class="reviewText">Comfortable rooms (with air-conditioning) and general areas with excellent freshly cooked food and friendly helpful service from all the staff - manager downwards. Nice swimming pool and plenty of shade. </p>
                </div>

                
            </div></div>
			</div>
		</div>

	<footer>- Marketing and web by Fair Traveler -</footer>
	</div>

    <!--script src="../public/javascript/badges.js"></script-->
  </body>
</html>
